.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

body{
  height: 100vh;
}
.search input{
  width: 700px;
  border: 1px solid #020202;
  height: 50px;
  border-radius: 5px;
}
.search-btn{
  background: #d19ddd;
  height: 50px;
  border-radius: 5px;
  width: 100px;
}
.search{
  display: flex;
  justify-content: space-between;
  margin-left: 250px;
  margin-right: 400px;
  
}
.load-btn{
  background: #d19ddd;
  height: 50px;
  border-radius: 5px;
  width: 500px;
  text-align: center;
  margin-top: 100px;
}